body {
    margin: 0 auto;
    font-family: Roboto;
    background-image: url("../img/wallpaper-2388706.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
header {
    width: 100%;
    height: 46px;
    background-color: #0F1232;
    color: #fff;
}
h1 {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    line-height: 46px;
}
h2 {
    padding-top: 30px;
    margin-top: 13px;
    padding-left: 30px;
    font-weight: 400;
    color:#0F1232;
}
h3 {
    margin-top: 13px;
    padding-left: 30px;
    font-weight: 300;
    padding-bottom: 94px;
    color:#0F1232;
}
div.boxleft { /*no darle altura para que crezca con el text area*/
    
    margin-left: 6%;
    width: 43%;
    height: 320px;
    background-color: rgba(243, 238, 193, 0.79);
    margin-top: 35px;
    float: left;
    height: 319px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color:#0F1232;
    display: block;
    padding-left: 30px;
    padding-top: 4%;
    font-weight: 600;
}
hr {
    margin: 20px;
    margin-bottom: 10px;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 5px;
}
form {
    margin-top: 35px;
    margin-left: 51%;
    width: 43%;
    background-color: rgba(243, 238, 193, 0.79);
    overflow: hidden;
    border-radius: 5px;
}
textarea {
    border-radius: 1em;
    border: none;
    width: 88.5%;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Roboto;
    outline: none;
    resize: none;
    overflow-y: hidden;
    font-size: 16px;
    background-color:rgba(243, 238, 193, 0);
    color:#0F1232;
}
#btn {
    background-color: #0F1232;
    color: #fff;
    border: 0;
    border-radius: 2px;
    height: 30px;
    width: 80px;
    font-weight: bold;
    margin: 20px;
}
.buthr {
    margin: 20px;
    margin-bottom: 7px;
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 5px;
    margin-top: 184px;
}
#cont div {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #FFF;
    padding-bottom: 2px;
    margin: 2px;
    margin-left:15px;
    margin-top: 5px;
    border-radius: 3px;
    width: 93%;
    color:#2C2E43;
    font-weight: 500;
}
#cont {
    padding-top: 30px;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    color: #4E4D53;
    text-align: left;
    padding-bottom: 0;
    word-break: break-all; /*para evitar que una palabra larga se salga del div*/
}
p {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    padding-left: 15px;
}
span#counter {
    float: right;
    text-align: right;
    padding: 30px;
    color: #0F1232;
    font-weight: 600;
}